
footer{
    height: 25rem;
    text-align: center;
  
  }
  footer hr{
    width: 80%;
    border-radius: 10px;
    margin-top: 2rem;
  }
  footer .copywrite h6{
    font-size: 1.5rem;
    margin: 1rem;
  }
  footer .info{
    height: 15rem;
    margin: 0.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .info .c-1, .c-2, .c-3{
    flex: 1;
    
  }
  footer .info .c-1 img{
    width: 80%;
  }
  footer .info li{
    list-style: none; 
    text-decoration: none;
    margin: 0.8rem;
  }
  footer .info li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    text-transform: capitalize
  }
  footer .info h5{
    text-decoration: underline;
    color: white;
    text-transform: capitalize;
    font-size: 1.6rem;
    margin: 0.5rem;
    margin-left: 3rem;
  }
  .active-b{
    color: var(--Color3) !important;
  }
  @media screen and (max-width: 520px) {
    footer .info{
      height: auto;
      margin: 1.5rem auto;
      padding: 1rem 0;
      padding-right: 2.5rem;
      gap: 1rem;
      flex-direction: column;
    }
    .copywrite{
      padding: 1rem;
    }
  }

