@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root{
  --Color1: #b42ff0;
  --Color2: #605ffc;
  --Color3: #39d15a;
}
body{
  min-height: 100vh;
  background-color: black;
  color: white;
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding: 0;
}

